@import './mixAndVar';

#about-cover {
    @include covers;
}

#about-story {
  display: grid;
    width: 15vw;
    background-color: $secondary-color;
    height: 45vh;
    font-size: large;
    border-radius: 5px;
    padding: 1rem;
    line-height: 25px;
    font-family: 'BabelStoneHan';
    font-weight: bold;
    @include verticalText;
    @include centeringAll;

  }
  
  #about-image, #about-image-two, #about-image-three {
    width: 25vw;
  }
  
  #about-image {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  