@import './mixAndVar';

#contact-cover {
    @include covers;
}

#contact-info {
    display: grid;
    margin-right: 25rem;
    background-color: $secondary-color;
    width: 45vw;
    height: 40vh;
    border-radius: 5px;
    @include centeringAll;
    gap: 40px;
  }

  #contact-image {
    width: 25vw;
    border-radius: 5px;
  }
  