
@media screen and (max-width: 1500px) {
    #restaurant-nav {
   gap: 10px;
     font-size: 0.8rem;
    }
    #contact-cover {
     @include mediaCovers;
     background-image: url(./images/pexels-cottonbro-studio-3298053.jpg);
    }
   
    #contact-info {
     color: $primary-color;
     font-size: 28px;
     width: 80vw;
     margin: 0;
    }
   
    #contact-image {
     visibility: hidden;
     position: absolute;
    }
   
    #menu-image {
     visibility: hidden;
    }
   
    #menu-cover {
     @include mediaCovers;
     background-image: url(./images/sushi-296739.svg);
    }
   
    #reservation-cover {
     @include mediaCovers;
     background-image: url(./images/pexels-satoshi-hirayama-7526794.jpg);
     background-position: center;
    }
    #reservation-image {
     visibility: hidden;
     position: absolute;
    }
    #reservation-info {
     grid-row: 1;
     grid-column: 1;
     width: 80vw;
     height: 60vh;
     background-color: $secondary-color;
     margin: 0;
   
    }
    #menu {
     grid-row: 1;
     grid-column: 1;
     width: 80vw;
     height: 80vh;
     background-color: $secondary-color;
     margin: 0;
     margin-top: 20%;
     font-size: 2rem;
    }
     #about-story {
       display: flex;
       padding: 10rem;
       grid-row: 1;
       grid-column: 1/-1;
       position: absolute;
       z-index:-10;
       color: $secondary-color;
       gap: 0px;
       width: 100vw;
       background-image: url('./images/pexels-cottonbro-studio-3298638.jpg');
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       opacity: 1;
       height: 100vh;
       font-size: 28px;
       line-height: 30px;
       align-items: center;
     }
   
     .about-img {
     visibility: hidden;
     }
     
     .restaurant-image{
       grid-row: 1;
       grid-column: 1;
       width: 100vw;
       border:$primary-color solid 15px;
     }
   
     #cover {
       background-image: url(./images/pexels-cottonbro-studio-3297361.jpg);
       background-position: left;
       background-size: cover;
       height: 100vh;
       display: grid;
       justify-content: center;
       align-items: center;
     } 
   
     .restaurant-image {
       visibility: collapse;
       position: absolute;
     }
   
     #cover,
     #menu-cover, 
     #about-cover, 
     #contact-cover, 
     #reservation-cover {
       background-color: transparent;
     }
     #menu-cover{
       width: 100vw;
     }
     #restaurant-info {
       font-weight: bolder;
       font-size: 8rem;
       color: $primary-color;
       background-color: $secondary-color;
       padding: 5px;
       border-radius: 5px;
       grid-column: 1;
       grid-row: 1;
       height: 160vh;
       margin-right: auto;
       text-align: center;
     }  
   }
   