@import './mixAndVar';

#menu-cover {
    @include covers;
}

#menu {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    justify-self: center;
    @include centeringAll;
    width: 45vw;
    height: 40vh;
    background-color: $secondary-color;
    border-radius: 5px;
    margin-right: 24rem;
    font-family: 'BabelStoneHan';
    font-weight: bolder;
    font-size: 3.5rem;
    line-height: 3rem;
  }
  
  #menu-image {
    width: 45vw;
    grid-column: 1;
    justify-self: center;
    align-self: center;
    margin-left: 24rem;
    border-radius: 5px;
  }

  #menu-items {
    border: 1px solid $primary-color;
    padding: 2rem;
    display: grid;
    @include verticalText;
    width: 100%;
    
  }

