$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(255, 255, 255);

@mixin covers {
    grid-column: 1 / span 3;
    grid-row: 3;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    background-color: $primary-color;
    gap: 10px;
    @include centeringAll();
      @keyframes slide-in {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0%);
      }
    }
    @keyframes fadeIn {
      0% { opacity: 0.5; }
      100% { opacity: 1; }
    }
    animation-name:  slide-in, fadeIn;
    animation-duration: 1.5s;
    transition: ease-in-out;
  }

@mixin mediaCovers {
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    height: 100vh;
    background-size: cover;
  }
  
@mixin centeringAll {
    align-self: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
  }

@mixin verticalText {
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }