@import './mixAndVar';

#reservation-cover {
    @include covers;
}

#reservation-info {
  display: grid;
    @include centeringAll;
    margin-right: 25rem;
    background-color: $secondary-color;
    width: 45vw;
    height: 40vh;
    border-radius: 5px;
    gap: 40px;
  }
  #reservation-image {
    width: 45vw;
    border-radius: 5px;
    margin-left: 24rem;
  }
