$body-color: red;
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  border-radius: 50px;
  background-image: url(./images/koi-732006.svg);
  background-blend-mode: exclusion;
  // background-color: rgba(184, 184, 184, 0.432);
  background-repeat: none;
  overflow: hidden;
  
}


@font-face {
  font-family: 'BabelStoneHan';
  src: url(./BabelStoneHan.ttf);
  font-style: normal;
  font-weight: bold;
}

#content {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 60px 80px 4fr 1fr;
  grid-template-columns: minmax(350px, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;


}


#restaurant-nav {
  display: flex;
  grid-row: 1;
  justify-content: center;
  gap: 50px;
  background-color:rgb(2, 2, 2);
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0;
  color: white;
  font-size: larger;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}


#restaurant-footer {
  display: inline-grid;
  background-color:rgb(2, 2, 2);
  width: 100vw;
  height: 60px;
  position: fixed;
  bottom: 0;
  font-size: larger;
  justify-content: center;
  align-content: center;
}

#restaurant-footer::after {
  content: 'Created by github.com/Museale';
  color: white;

}

#cover, 
#cover-background, 
#menu-cover, 
#about-cover, 
#contact-cover, 
#reservation-cover {
  grid-column: 1 / span 3;
  grid-row: 3;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  background-color: rgb(0, 0, 0);
  gap: 10px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

  // @keyframes slide-in {
  //   from {
  //     transform: translateX(-100%);
  //   }
  //   to {
  //     transform: translateX(0%);
  //   }
  // }

  // @keyframes fadeIn {
  //   0% { opacity: 0; }
  //   100% { opacity: 1; }
  // }

  // animation-name: slide-in, fadeIn;
  // animation-duration: 2s;
}

.restaurant-image {
  width: 25vw;
  max-width: fit-content;
  
  
}
.restaurant-image:nth-child(3) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#restaurant-info {
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  align-self: center;
  justify-self: left;
  width: 10vw;
  margin-left: 50px;
  color: white;
  font-size: 15rem;
  font-family: 'BabelStoneHan';
  font-weight: bolder;
  

}

#menu {
  justify-self: center;
  align-self: center;
  width: 45vw;
  height: 80%;
  background-color: white;
  border-radius: 5px;
 margin-right: 24rem;
}

#menu-image {
  width: 45vw;
  grid-column: 1;
  justify-self: center;
  align-self: center;
  margin-left: 24rem;
  border-radius: 5px;
}

#about-story {
  width: 15vw;
  background-color: rgb(255, 255, 255);

  height: 45vh;
  font-size: large;
  border-radius: 5px;
  padding: 1rem;
  line-height: 25px;
  font-family: 'BabelStoneHan';
  font-weight: bold;

  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

#about-story::after {
  content: "クマちゃん居酒屋の話は昔話しです。東京で始まりました。初めにクマちゃんは居酒屋じゃなかったです。タバコのお店でした。外国人がよく来ましたので、お爺さんはあの外国人とタバコをいっしょにすわったんでした。ある日高い人が来ました。あの人はアミルです。アミルは料理人です。アミルは日本食を学ぶために日本に来ました。お爺さんはびっくりしました。アミルはお爺さんを感動しました。アミルとお爺さんさんはタバコのお店を居酒屋にしました。";

}

#about-image, #about-image-two, #about-image-three {

  width: 25vw;
}

#about-image {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#contact-info {
  color: white;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    border-radius: 5px;
  }

#contact-image {
  width: 25vw;
  border-radius: 5px;
}

#reservation-info {
  justify-self: center;
  align-self: center;
  margin-right: 25rem;
  background-color: white;
  width: 60vw;
  height: 40vh;
  border-radius: 5px;
}
#reservation-image {
  width: 25vw;
  border-radius: 5px;
}




@media  screen and (max-width: 1400px) {
//   .restaurant-image {
//     grid-row: 1;
//     grid-column: 1;
//     width: 100vw;
//   }
// }

// @media screen and (max-width: 705px) {
  #about-story {
    display: flex;
    padding: 10rem;
    grid-row: 1;
    grid-column: 1/-1;
    position: absolute;
    z-index:-10;
    color:white;
    gap: 0px;
    width: 100vw;
    background-image: url('./images/pexels-cottonbro-studio-3298638.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    height: 100vh;
    font-size: 28px;
    line-height: 30px;
    align-items: center;
  }

  .about-img {
  visibility: hidden;
 
  }
  
  .restaurant-image {
    grid-row: 1;
    grid-column: 1;
    width: 100vw;
    border:rgb(0, 0, 0) solid 15px;

  }

  #cover, #cover-background, 
  #menu-cover, 
  #about-cover, 
  #contact-cover, 
  #reservation-cover {
    background-color: transparent;
  }
  #restaurant-info {
    font-weight: bolder;
    position: absolute;
    margin-left: 15rem;
    font-size: 18rem;
  
    text-shadow: 2px 5px 5px rgb(3, 3, 3);
  }
  
}